.marquee-container {
    overflow: hidden; 
    width: 100%; 
    position: relative;
    background: rgba(255, 255, 255, 0.23);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    /* border: 1px solid rgba(255, 255, 255, 0.2);  //Causes overflow  */ 
  }
  
  .marquee {
    display: flex; 
    animation: marquee 20s linear infinite; 
    will-change: transform;
  }
  
  .marquee-content {
    display: flex; 
    white-space: nowrap; 
  }
  
  .marquee-content span {
    padding: 1rem 3rem; 
    font-size: 1.25rem;
    /* letter-spacing: 1px;
    font-weight: bold;
    -webkit-text-fill-color: #ffffff;
    -webkit-text-stroke: 1.5px #333333; */
  }
  
  @keyframes marquee {
    0% {
      transform: translateX(0); 
    }
    100% {
      transform: translateX(-50%); 
    }
  }
  
  .marquee:hover {
    animation-play-state: paused; 
  }
  